.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.footer{
    padding: 20px 0;
    background-color: #010101;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer span{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.footer ul li{
    padding: 0 10px;
    list-style: none;
}
.footer ul li a svg{
    color: #fff;
    width: 20px;
    height: 20px;
}
.footer ul::before{
    content: "";
    width: 2px;
    height: 20px;
    background-color: #fff;
    margin-right: 20px;
}